
Code/.idea/workspace.xml
Code/RESUMEN_PROYECTO.txt
/Code/src/.idea
/Code/.idea
/.idea

# Archivos de configuración de IntelliJ (como el .iml que tienes)
*.iml
.idea/

# Carpetas de salida y compilación
out/
bin/
target/

# Archivos temporales del sistema
Thumbs.db
.DS_Store
resumen_cambios.txt
sources.txt
CAMBIOS_SESION_03_05_2026.txt
CAMBIOS_INTERFAZ_IMPLEMENTADOS.txt
*.lock
Code/test.puml
Code/cambios_sesion.txt
/Code/Cambios
